/*-----CSS RESET-----*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {
    width: 75%;
    max-width: 600px;
    font-family: 'Libre Baskerville', serif;
    background: #f0f0f0;
    color: #333;
    line-height: 1.8em;
    margin: auto;
}

header {
    margin: 6em 0;
}

header h2{
    font-style: italic;
    font-size: 2.25em;
    color: #333;
}

h1, h2, h3 {
    font-weight: normal;
    color: #c06;
    text-align: center;
}

/*-----TYPOGRAPHY-----*/

p, li, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.5;
}

p {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 4em;
    margin-top: 1em;
    margin-bottom: .1em;
}

h2 {
    font-size: 2.25em;
    margin-bottom: 1em;
}

blockquote {
    padding: 1em 0 4em 0;
    font-size: 1.5em;
    line-height: 1.4em;
    color:#777;
}

blockquote cite {
    font-size: .75em;
}

/*-----LINKS-----*/

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #006341;
    border-bottom: 1px dotted;
}

/*-----NAVIGATION-----*/

nav{
    position:fixed;
    top:0;
    left:0;
    margin:0;
    width:100%;
    background-color: #333;
    padding:1em 0;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul li {
    display:inline;
    margin:20px;
}

nav a:hover {
    border-bottom: none;
    color:#c06;
}

/*-----IMAGES-----*/

img {
    display:block;
    margin: 4em auto;
    padding:0;
    max-width:100%;
}

/*-----FOOTER-----*/

footer {
    text-align: center;
    font-size: .75em;
    line-height: 1.5em;
    padding-bottom: 2em;
}

footer hr {
    margin-bottom: 3em 0;
}

footer p {
    margin-top:2em;
}